:root {
  /* color */
  --white: #ffffff;
  --black: #000000;
  --background-black: #131313;
  --dark-header: #1f1d1dbe;
}

body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

header {
  z-index: 9;
  position: sticky;
  height: 100%;
  top: 0;
}

nav {
  width: 600px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.header_container {
  width: 100%;
  height: 80px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px white;
}

.logo {
  font-size: 2rem;
  margin-left: 30px;
}

.logo:hover {
  cursor: pointer;
}

.nav__list {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav__list li a {
  margin: 0 20px;
  font-size: 1rem;
  color: var(--white);
}

.nav__list li a:hover {
  color: rgb(223, 142, 84);
}

.toggle_btn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 32px;
}

.toggle_btn:hover {
  color: rgb(223, 142, 84);
}

.test {
  padding: 100px 0;
  width: 100%;
  height: 100vh;
}

#home {
  width: 100%;
  height: 100vh;
}

#skill {
  transform: skewY(5deg);
  background-color: var(--dark-header);
}
#skill > * {
  transform: skewY(-5deg);
}

#contact {
  transform: skewY(-5deg);
  background-color: var(--dark-header);
}

#contact > * {
  transform: skewY(5deg);
}

.home_background {
  position: fixed;
  top: 0;
  z-index: -2;
}

.home_background img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
}

.head_title {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  /* color: white;
  border-bottom: 1px solid white; */
}

.home_inner {
  height: 100%;
}
.text_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  width: 100%;
  /* flex-basis: 1; */
  color: white;
  font-size: 2rem;
  text-shadow: 4px 2px 2px gray;
  padding: 0 40px;
}

.text_wrap p {
  padding-left: 50px;
  text-align: left;
}

.right {
  width: 100%;
  /* flex-basis: 1; */
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 10px gray;
  padding: 0 40px;
}

.contents_wrap {
  min-height: 100vh;
  background-color: var(--background-black);
  padding-bottom: 4rem;
}

section .contents_wrap > div:last-child {
  margin-bottom: 4rem;
}

.head_title h1 {
  color: white;
  text-shadow: 4px 4px 10px gray;
}

.head_title h1:after {
  content: '';
  display: block;
  width: 400px;
  border-bottom: 3px solid lightblue;
  padding-bottom: 20px;
  margin: 0 auto;
}

.footer {
  z-index: 2;
  display: flex;
  height: 4rem;
  align-items: center;
  text-align: right;
  background-color: black;
  color: white;
  box-shadow: 1px 1px 1px 0px rgba(white, 0.5), 0px -1px 3px 0px rgba(white, 0.1);
  padding: 0 2rem;
}

.footer .copyright {
  font-size: 1.2rem;
  flex-grow: 1;
  background-color: black;
}

@media (max-width: 1024px) {
  .logo {
    font-size: 1.5rem;
    font-size: 2vw;
  }

  .nav__list {
    margin-right: 15px;
  }

  .nav__list li a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 10px;
  }
  .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 30px;
    width: 100%;
    flex-basis: 4;
  }

  nav {
    flex-basis: 1;
  }

  .logo span {
    width: 100%;
    margin-left: 1rem;
  }

  .nav__list {
    display: none;
  }

  .nav__list li a {
    font-size: 0.5rem;
  }

  .toggle_btn {
    top: 1.5rem;
    display: block;
  }

  .footer {
    height: 5rem;
  }

  .footer .copyright {
    font-size: 1.8rem;
  }
}
